@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=PT+Sans+Narrow&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .about-head {
        font-family: Inter, -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        font-size: 48px;
        font-style: normal;
        font-variant-caps: normal;
        font-variant-east-asian: normal;
        font-variant-ligatures: normal;
        font-variant-numeric: normal;
        font-weight: 700;
        @apply text-6xl text-gray-800 text-center;
    }
}

@layer components {
    .nav {
        @apply p-4 bg-teal-600 flex text-gray-200 font-serif font-semibold tracking-wide drop-shadow-lg shadow-lg shadow-teal-600 mb-4 text-justify;
    }

    .nav-li {
        @apply mx-2;
    }

    .details-container {
        @apply open:bg-white mx-auto w-96 open:drop-shadow-2xl p-2 open:p-4 rounded-md bg-gray-100 border-gray-400 open:border-2 dark:bg-gray-800 dark:open:bg-black;
    }

    .details-detail {
        @apply text-gray-600 text-base my-10 text-justify;
        font-family: 'Pt Sans Narrow', sans-serif;
    }

    .details-title {
        @apply cursor-pointer hover:text-gray-600;
        font-family: 'Dosis', sans-serif;
    }

    .email,
    .fiverr {
        font-family: 'Dosis', sans-serif;
        @apply my-5 text-xl;
    }

    .email-link,
    .fiverr-link {
        font-family: 'PT Sans Narrow', sans-serif;
    }

    .email-link {
        @apply underline decoration-black decoration-4 hover:text-gray-700 hover:decoration-gray-700;
    }

    .footer-link {
        @apply cursor-pointer text-gray-600 hover:text-gray-900;
    }

    .footer-category-head {
        @apply font-medium text-gray-900 tracking-widest text-sm mb-3;
    }
    .overflow-div{
        @apply flex flex-row overflow-x-scroll;
    }
}